.calc {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.invoiceForm::-webkit-scrollbar {
  background-color: var(--bg-color);
  width: 8px;
}

.invoiceForm::-webkit-scrollbar-thumb {
  background: var(--border-color);
  height: 112px;
  border-radius: 4px;
}

.invoiceFormContainer {
  display: flex;
  height: 100vh;
  position: fixed;
  background-color: var(--invoice-bg);
}
.invoiceFormContainer .invoiceForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--invoice-bg);
  overflow-y: auto;
  height: 100vh;
  border-radius: 0px 0px 0px 0px;
  z-index: -1;
  padding: 20px 40px 0 40px;
  position: relative;
}
.invoiceFormContainer .invoiceForm input {
  border-radius: 4px;
  background: #FFF;
  padding-left: 15px;
  outline: none;
  display: flex;
  flex-direction: column;
}
.invoiceFormContainer .invoiceForm input:focus {
  border: 1px solid var(--purple);
}
.invoiceFormContainer .invoiceForm label {
  margin-left: 10px;
  margin-bottom: 7px;
  color: var(--p-purple);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
}
.invoiceFormContainer .invoiceForm .formTitle {
  color: var(--text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromTitle {
  color: var(--purple);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromTop {
  display: flex;
  flex-direction: column;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromTop input {
  width: 95%;
  height: 48px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 20px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom input {
  height: 48px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom .city {
  width: 27%;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom .city input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom .postCode {
  width: 27%;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom .postCode input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom .country {
  width: 27%;
}
.invoiceFormContainer .invoiceForm .invoiceFormTop .billFromBottom .country input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 95%;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop {
  display: flex;
  flex-direction: column;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .billToTitle {
  color: var(--purple);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop input {
  height: 48px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .clientName {
  width: 90%;
  margin: 10px 0;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .clientName input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .clientEmail {
  width: 90%;
  margin: 10px 0;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .clientEmail input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .clientStreetAddress {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToTop .clientStreetAddress input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter {
  display: flex;
  justify-content: space-between;
  width: 89%;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter input {
  height: 48px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter .clientCity {
  width: 27%;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter .clientCity input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter .clientPostCode {
  width: 27%;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter .clientPostCode input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter .clientCountry {
  width: 27%;
}
.invoiceFormContainer .invoiceForm .invoiceFormCenter .billToCenter .clientCountry input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop {
  display: flex;
  flex-direction: column;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 95%;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop input {
  height: 48px;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .invoiceDate {
  width: 45%;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .invoiceDate input {
  width: 100%;
  margin-top: 7px;
  outline: none;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms {
  width: 45%;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms .paymentTermsInputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms .paymentTermsInputContainer svg {
  position: relative;
  right: 40px;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms:hover {
  cursor: pointer;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms .paymentTermsInput:hover {
  cursor: pointer;
  border: 1px solid var(--purple);
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms input {
  width: 100%;
  margin-top: 7px;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms .options {
  position: absolute;
  z-index: 999;
  background-color: var(--invoice-bg);
  border: 1px solid var(--border-color);
  border-radius: 0 0 4px 4px;
  border-top: none;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms .options .option {
  padding: 15px 15px;
  transition: background-color 0.2s;
  border-top: 1px solid var(--border-color);
  text-decoration: none;
  color: var(--text-color);
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopTop .paymentTerms .options .option:hover {
  background-color: var(--invoice-bg);
  cursor: pointer;
  color: var(--purple);
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopBottom {
  display: flex;
  flex-direction: column;
  position: relative;
}
.invoiceFormContainer .invoiceForm .invoiceFormBottom .invoiceFormBottomTop .invoiceFormBottomTopBottom input {
  width: 95%;
  height: 48px;
}
.invoiceFormContainer .invoiceForm .formButtons {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  border-radius: 0px 20px 20px 0px;
  background: var(--invoice-bg);
  padding-top: 20px;
}
.invoiceFormContainer .invoiceForm .formButtons .formButtonsLeft {
  margin-left: 15px;
  margin-top: 15px;
}
.invoiceFormContainer .invoiceForm .formButtons .formButtonsRight {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 15px;
}

.itemList {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 80px;
}
.itemList .itemListForm {
  width: 100%;
}
.itemList .itemListTitle {
  color: #777F98;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.375px;
  margin-left: 15px;
  margin-top: 20px;
}
.itemList .inputsItemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.itemList .inputsItemList .itemNameInListInput {
  display: flex;
  flex-direction: column;
  width: 37%;
}
.itemList .inputsItemList .itemQuantityInput {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.itemList .inputsItemList .itemPriceInput {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.itemList .inputsItemList label {
  color: #7E88C3;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 115.385% */
  letter-spacing: -0.1px;
  margin: 0 0 15px 15px;
}
.itemList .inputsItemList input {
  border-radius: 4px;
  margin: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  height: 48px;
}
.itemList .inputsItemList .total {
  display: flex;
  align-items: center;
}
.itemList .inputsItemList .total .totalPrice h5 {
  color: #7E88C3;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
  margin: 10px 0px 10px 0px;
}
.itemList .inputsItemList .total .totalPrice p {
  color: #888EB0;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin: 10px 0px 10px 0px;
}
.itemList .inputsItemList .total .trash {
  margin-left: 35px;
  width: 20px;
  height: 24px;
  margin-top: 15px;
}
.itemList .inputsItemList .total .trash path:hover {
  fill: red !important;
}
.itemList .inputsItemList .total .trash:hover {
  cursor: pointer;
}

.item {
  margin-bottom: 20px;
}

.addNewItemButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: var(--items-bg);
  color: var(--p-purple);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 100% */
  letter-spacing: -0.25px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.addNewItemButton:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

.formButtons2 {
  display: none;
}

.billFromBottom2 {
  display: none;
}

.billToCenter2 {
  display: none;
}

.inputsItemList2 {
  display: none;
}

@media (max-width: 1020px) {
  .calc {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .invoiceFormContainer {
    width: 100%;
    height: 100%;
  }
  .invoiceFormContainer .sideBar {
    display: none;
  }
  .invoiceFormContainer .invoiceForm {
    width: 100%;
    height: 100%;
    margin: 5px 0;
  }
  .invoiceFormContainer .invoiceForm .itemList {
    margin-bottom: 20px !important;
  }
  .invoiceFormContainer .invoiceForm .formButtons {
    display: none;
  }
  .invoiceFormContainer .invoiceForm .formButtons2 {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    border-radius: 0px 20px 20px 0px;
    background: var(--invoice-bg);
    padding-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .billFromBottom {
    display: none !important;
  }
  .billFromBottom2 {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
  }
  .billFromBottom2 input {
    height: 48px;
  }
  .billFromBottom2 .billFromBottom2Top {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .billFromBottom2 .billFromBottom2Top .city {
    width: 45%;
  }
  .billFromBottom2 .billFromBottom2Top .city input {
    width: 100%;
    margin-top: 7px;
  }
  .billFromBottom2 .billFromBottom2Top .postCode {
    width: 45%;
  }
  .billFromBottom2 .billFromBottom2Top .postCode input {
    width: 100%;
    margin-top: 7px;
  }
  .billFromBottom2 .country {
    width: 95%;
    margin-top: 20px;
  }
  .billFromBottom2 .country input {
    width: 100%;
    margin-top: 7px;
  }
  .billToCenter {
    display: none !important;
  }
  .billToCenter2 {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .billToCenter2 input {
    height: 48px;
  }
  .billToCenter2 .billToCenter2Top {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .billToCenter2 .billToCenter2Top .clientCity {
    width: 45%;
  }
  .billToCenter2 .billToCenter2Top .clientCity input {
    width: 100%;
    margin-top: 7px;
  }
  .billToCenter2 .billToCenter2Top .clientPostCode {
    width: 45%;
  }
  .billToCenter2 .billToCenter2Top .clientPostCode input {
    width: 100%;
    margin-top: 7px;
  }
  .billToCenter2 .clientCountry {
    width: 95%;
    margin-top: 20px;
  }
  .billToCenter2 .clientCountry input {
    width: 100%;
    margin-top: 7px;
  }
  .inputsItemList {
    display: none !important;
  }
  .inputsItemList2 {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .inputsItemList2 .itemNameInListInput {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .inputsItemList2 .itemNameInListInput label {
    color: #7E88C3;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
    margin: 0 0 15px 15px;
  }
  .inputsItemList2 .itemNameInListInput input {
    border-radius: 4px;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    height: 48px;
  }
  .inputsItemList2 .inputsItemList2Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
  }
  .inputsItemList2 .inputsItemList2Bottom .itemQuantityInput {
    display: flex;
    flex-direction: column;
    width: 15%;
  }
  .inputsItemList2 .inputsItemList2Bottom .itemPriceInput {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .inputsItemList2 .inputsItemList2Bottom label {
    color: #7E88C3;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
  }
  .inputsItemList2 .inputsItemList2Bottom input {
    border-radius: 4px;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    height: 48px;
    width: 54px;
  }
  .inputsItemList2 .inputsItemList2Bottom .total {
    display: flex;
    align-items: center;
  }
  .inputsItemList2 .inputsItemList2Bottom .total .totalPrice h5 {
    color: #7E88C3;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
    margin: 10px 0px 10px 0px;
  }
  .inputsItemList2 .inputsItemList2Bottom .total .totalPrice p {
    color: #888EB0;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 100% */
    letter-spacing: -0.25px;
    margin: 10px 0px 10px 0px;
  }
  .inputsItemList2 .inputsItemList2Bottom .total .trash {
    margin-left: 35px;
    width: 20px;
    height: 24px;
    margin-top: 15px;
  }
  .inputsItemList2 .inputsItemList2Bottom .total .trash path:hover {
    fill: red !important;
  }
  .inputsItemList2 .inputsItemList2Bottom .total .trash:hover {
    cursor: pointer;
  }
}
@media (max-width: 660px) {
  .itemQuantityInput input {
    width: 44px;
  }
  .itemNameInListInput input {
    margin-right: 7px !important;
  }
}
@media (max-width: 475px) {
  .invoiceFormContainer .invoiceForm {
    padding: 20px 10px;
  }
}
@media (max-width: 395px) {
  .invoiceFormContainer .invoiceForm .formButtons2 button {
    width: 117px;
  }
}/*# sourceMappingURL=invoiceForm.css.map */