.invoicesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    & .invoiceConainter {
        width: 100%;
        text-decoration: none;
    }
}

@media (max-width: 768px) and (min-width: 600px) {
    .invoicesList {
        width: 95%;
    }
}

@media (max-width: 599px) {
    .invoicesList {
        width: 90%;
    }
}