.discardBtn {
    border-radius: 24px;
    background: var(--bg-color);
    width: 96px;
    height: 48px;
    color: var(--p-purple);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: -0.25px;
    border: none;
    margin-bottom: 45px;
    &:hover {
        cursor: pointer;

    }
}